{% extends "./base.html" %} {% load static %} {% block title %}Home{%endblock %} 



{% block content %}

<div class="container mt-1">
  <main class="pt-5">
    <div class="mb-1">
      <button
      class="btn btn-secondary btn-block"
    >
      Terms and Conitions
    </button>
      <table class="table table-hover">
        <tbody>
        <tr>
            <td class="p-0"><li>Do you deliver to all parts of the country?</li>
            <p class="m-0 pl-5">Delivery limited due to covid. (places depend on lockdown and containment in paticular place)</p>
            </td>
        </tr>
      <tr>
        <td class="p-0"><li>When will the plants be dispatched?</li>
          <p class="m-0 pl-5">Plants will be sent only after payment. Will be dispatched on nearest Monday or tuesday if payment is made by sunday evening. </p>
        </td>
      </tr>
      <tr>
        <td class="p-0"><li>How will the plants be sent?</li>
          <p class="m-0 pl-5">Plants will be sent barerooted(packed with tissue,cotton and cocopeat).</p>
        </td>
      </tr>
      <tr>
      <td class="p-0"><li>What if "I dont receive plants safe"?</li>
          <p class="m-0 pl-5">Any Damage during transportation will be replaced with customers next order(If plants dont survive).</p>
        </td>
      </tr>
      <td class="p-0"><li>What if "I dont look after the plants after i receive, will it be replaced"?</li>
        <p class="m-0 pl-5">After receiving the plants its customer's responsibility to take care of plants so i dosent come under our replacement policy.</p>
        <p class="m-0 pl-5">Note: replacement policy is applicable only for transportation damage.</p>
      </td>
      </tr>
      <td class="p-0"><li>How will the plants be dispatched?</li>
        <p class="m-0 pl-5">Plants will be dispatched by DTDC.(since its fast and we have proper customer support)</p>
        <p class="m-0 pl-5">On customer request Speed post or Professional will be considered(delay should be taken care by customer).</p>
      </td>
      </tr>
        </tbody>
      </table>   
    </div> 
    <div class="mb-1">
      <button
      class="btn btn-secondary btn-block"
    >
      Frequently asked Questions
    </button>
      <table class="table table-hover">
        <tbody>
        <tr>
            <td class="p-0"><li>Where can i find cost of the plants?</li>
              <p class="m-0 pl-5">Size and Cost is Mentioned bellow each Plant from catalogue page.</p>
            </td>
        </tr>
        <tr>
          <td class="p-0"><li>What is the minimum quantity that can be ordered?</li>
            <p class="m-0 pl-5">Minimum of 5 plants in recommended. (minimum delivery charges is applicable for any number of plants)</p>
          </td>
        </tr>
        <tr>
          <td class="p-0"><li>How can choose plants?</li>
            <p class="m-0 pl-5">Select Plants to cart individually from the catalogue. Where you can also filter based on requirements.</p>
            <p class="m-0 pl-5">After adding click place order to reach us.</p>
          </td>
        </tr>
        <tr>
          <td class="p-0"><li>Is delivery charges free?</li>
            <p class="m-0 pl-5">No, additional delivery charges is applicable from place to place.(chart added at the bottom)</p>
          </td>
        </tr>
        <tr>
          <td class="p-0"><li>How can i complete payment?</li>
            <p class="m-0 pl-5">You can complete your payment through Gpay, PayTM, phonePe or Netbanking(whatsapp for further details)</p>
          </td>
        </tr>
        <tr>
          <td class="p-0"><li>Where can i find succulent care?</li>
            <p class="m-0 pl-5">You can find it on the top nav-bar.</p>
          </td>
        </tr>
        <tr>
          <td class="p-0"><li>Do you provide cash on delivery?</li>
            <p class="m-0 pl-5">No, we havent introduced COD yet.</p>
          </td>
        </tr>
        <tr>
          <td class="p-0"><li>How can we trust you?</li>
            <p class="m-0 pl-5">Please check out our FB page and Instagram for feedbacks before purchasing. We're always open for your querries.</p>
          </td>
        </tr>
        </tbody>
      </table>   
    </div> 
    <div>
      <button
      class="btn btn-secondary  btn-block"
    >
      Additional Delivery charges is applicable depending on place
    </button>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Location</th>
          <th scope="col">Cost</th>
          <th scope="col">Maximum Plants</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Tamil Nadu</th>
          <td>80</td>
          <td>12</td>
        </tr>
        <tr>
          <th scope="row">South India(except T.N)</th>
          <td>100</td>
          <td>12</td>
        </tr>
        <tr>
          <th scope="row">Other parts of India</th>
          <td>150</td>
          <td>6</td>
        </tr>
        <tr>
          <th scope="row">Other parts of India</th>
          <td>200</td>
          <td>12</td>
        </tr>
        <tr>
          <td class="text-center" colspan="3">Additional delivery charges is applicable when quantity increases.</td>
        </tr>
      </tbody>
    </table>  
    </div>
    <br>
    <br>
    <br>
</main>
</div>

{% endblock %}
